*{

margin:0;
padding:0;
font-size: 10px;;
box-sizing: border-box;
}
#main{
   position: fixed;
}
html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
font-family:cursive;
}
.nav-base-1 ul{
         margin:0;
}
.nav-base-1 li {
    padding-left:0px;
    display: inline;
}

.nav-base-1 a {
    display: inline-block;
    padding: .5em;
    color: purple;
    text-decoration: none;
}
.nav-base-1 {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 5px  solid rgba(255, 255, 255, .9);
}
}
.nav-base-1 a:hover {
    background-color: rgba(255, 255, 255, .9)
}
.nav-base{height:300px;
    background-image: url("Images/alien.jpg");
    background-repeat: no-repeat, repeat;
    background-blend-mode: dark;
    background-size:cover;
    background-repeat:none;
    font-size:25px;
    font-family:cursive;
}
.banner {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: monospace;;
    font-weight: normal;
    color: white;
}
.banner-large {
     font-size: 3em;

}
.content-section {
    margin: 1em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: cursive;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
    position:relative;


}
.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.footer-nav li {
    padding: 0 .5em;
}
.footer-nav img {
    width: 30px;
    height: 30px;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover {
    background-color:red;
}
.btn-primary {
    color: red;
    background-color: grey;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: pink;
}
.table0-0{
    overflow:auto;
    border-bottom: 1px solid black;
    padding-bottom: 100px;
    margin-bottom: 1em;
}
.table0-0:last-child {
    border: none;
}
.table0-1 {
    display: inline-block;
    padding-right: .5em;
}
.table0-serial {
    color: yellow;
    width: 10%;
    font-weight: bold;
}
.table0-depart {
    width: 24%;
}
.table0-staff {
    width: 42%;
}
.table0-btn {
    max-width: 19%;
    }
